body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #89f7fe 0%, #66a6ff 100%);
}

.container {
  max-width: 800px;
  margin: 20px;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

h1 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* Adequate spacing below the input field */
}

input[type='text'] {
  width: 100%;
  flex-grow: 1;
  padding: 12px 15px;
  box-sizing: border-box;
  border: 2px solid #dee2e6;
  border-radius: 6px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background: linear-gradient(135deg, #667eea, #764ba2);
  border: none;
  border-radius: 25px;
  color: white;
  transition: background 0.3s ease;
}
button:hover {
  background: linear-gradient(135deg, #764ba2, #667eea);
}

.delete-button {
  color: white;
  padding: 12px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 12px;
  border: 1px solid #dee2e6;
  border-radius: 6px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  transition: background-color 0.3s, transform 0.2s;
}

li:hover {
  background-color: #e2e6ea;
  transform: translateX(5px);
}

li span {
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

.add-button {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  margin-bottom: 20px;
}

.add-button:hover {
  background-color: #0056b3;
}

.icon-container a {
  font-family: 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji',
    'Apple Color Emoji', 'Android Emoji', 'EmojiSymbols', sans-serif;
  font-size: 16px;
  color: #4b4b4b;
}
