body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e9ecef;
}

.container {
  max-width: 800px;
  margin: 20px;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

h1 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* Adequate spacing below the input field */
}

input[type='text'] {
  width: 100%;
  flex-grow: 1;
  padding: 12px 15px;
  box-sizing: border-box;
  border: 2px solid #dee2e6;
  border-radius: 6px;
  font-size: 16px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  margin-left: 7px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button {
  color: white;
  padding: 12px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover,
.delete-button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 12px;
  border: 1px solid #dee2e6;
  border-radius: 6px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  transition: background-color 0.3s, transform 0.2s;
}

li:hover {
  background-color: #e2e6ea;
  transform: translateX(5px);
}

li span {
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

.add-button {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  margin-bottom: 20px;
}

.add-button:hover {
  background-color: #0056b3;
}
